<h1><%= @article.title %> </h1>
<p>
    Tags:
    <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
    <%end%>
</p>
<%if @article.image.exists?%>
    <p><%= image_tag @article.image.url%></p>
<%end%>
<p><%= @article.body %></p>
<% if logged_in? %>
    <%= link_to "Editar", edit_article_path(@article) %>
    <%= link_to "Borrar", article_path(@article), method: :delete, data: {confirm: "¿Realmente desea eliminar este artículo?"} %>
<% end %>
<h3>Comentarios (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form'%>

<%= link_to "<< Volver a lista de artículos", articles_path %>